<div class="logoCA">
        <img src="assets/Images/LogoCA.png" alt="Logo Caribe Adventure">
    </div>
    
    <div class="container-fluid">
        <div class="row justify-content-md-center col-md-12 col-sm-8">
            <form id="formularioIngresar" class="align-self-center" style="background-color: white;">
                <div class="contenedorInformacion">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Ingrese un nombre de usuario</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="nombre usuario">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Ingrese una contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary" routerLink="/registro">Siguiente</button>
                </div>
                <div class="iniciarSesion">
                    ¿Ya tiene una cuenta? <a href="#" class="text-decoration" routerLink="">Iniciar Sesión</a>
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
